html {
  scroll-behavior: smooth;
}

body {
  font-family: MuseoModerno, Arial;
  margin: 0;
}

p {
  font-family: Montserrat, Arial;
  font-size: 20px;
  line-height: 30px;
}

ul {
  list-style: none;
  line-height: 47px;
  padding: 0;
}

li {
  font-family: Montserrat, Arial;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.15s;
}

a:hover {
  color: #e60028;
}

header {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #000054;
}

button {
  margin: 0;
  padding: 0;
  background-color: white;
  border-style: none;
}

button:hover {
  cursor: pointer;
}

.hamburger-menu {
  margin-right: 30px;
}

.icon-bar {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 1px;
  background-color: #000054;
}

.icon-bar + .icon-bar {
  margin-top: 5px;
}

.description {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.ringo-link {
  color: black;
  text-decoration: none;
  color: #e60028;
  transition: color 0.15s;
}

.ringo-link:hover {
  cursor: pointer;
  color: #000054;
}

h1 {
  font-size: 50px;
}

.subheader {
  font-size: 30px;
  font-weight: bold;
}

#dialogflow {
  width: 99.7%;
  height: 85vh;
}
